{% extends "common_base.html" %}

{% block base_top %}
<h1>{{object.name}}</h1>
<p>{{object.description}}</p>
{% endblock base_top %}

{% block base_bottom %}

<form class="" action="{% url "posts:post_create" group=object.slug %}" method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="text">Add your post:</label>
    <div class="post-form">
      <textarea class="form-control post-textarea" name="text" placeholder="Enter your post here" rows="2" required></textarea>
      <div class="container">
        <div class="container post-form-toolbar d-flex justify-content-end">
          <button class="btn btn-link" type="submit" name="button">
            <svg width="1.2em" height="1.2em" viewBox="-4 1 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            </svg>
            Post
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

{% for post in object.group_posts.all %}
  {% include "posts/_post.html" with post=post %}
{% endfor %}
{% endblock base_bottom %}

{% block base_right %}
<div class="container">
  <p>Welcome to {{object.name}} page.</p>

    {% if user.is_authenticated %}

      {% if user in object.members.all %}
        <p>{{user}} you are member of this group!</p>
        <a href="{% url "groups:group_leave" object.slug %}">Leave Group</a>
      {% else %}
        <a href="{% url "groups:group_join" object.slug %}">Join Group</a>
      {% endif %}

      {% if user == object.owner %}
        <p>You are owner of this group</p>
        <a href="{% url "groups:group_edit" object.slug %}">Edit</a>
        <a href="{% url "groups:group_delete" object.slug %}">Delete</a>
      {% endif %}

    {% endif %}
</div>
{% endblock base_right %}
