{% extends "common_base.html" %}

{% block base_top %}
<h1>{{object.name}}</h1>
<p>{{object.description}}</p>
{% endblock base_top %}

{% block base_bottom %}
<form class="shadow-sm" action="{% url "posts:post_create" group=object.slug %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="text">Add your post:</label>
    <div class="post-form">
      <textarea class="form-control post-textarea" name="text" placeholder="Enter your post here" rows="2" required></textarea>
      <div class="container">
        <div class="container post-form-toolbar d-flex justify-content-end">
          <button class="btn btn-link btn-font" type="submit" name="button">
            <svg width="1.2em" height="1.2em" viewBox="-4 1 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            </svg>
            Post
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

{% for post in object.group_posts.all %}
  {% include "posts/_post.html" with post=post %}
{% endfor %}
{% endblock base_bottom %}

{% block base_right %}
<div class="container">
  <h1>Welcome!</h1>

    {% if user.is_authenticated %}

      {% if user in object.members.all %}
        <p>You are member of this group!</p>
        <a href="{% url "groups:group_leave" object.slug %}">
          <svg width="1em" height="1em" viewBox="0 1 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>
          Leave Group</a>
      {% else %}
        <p>You can join this group.</p>
        <a href="{% url "groups:group_join" object.slug %}">
          <svg width="1em" height="1em" viewBox="0 1 16 16" class="bi bi-box-arrow-in-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>
          Join Group</a>
      {% endif %}
      <hr>
      {% if user == object.owner %}
        <p>You are owner of this group</p>
        <a href="{% url "groups:group_edit" object.slug %}">
          <svg width="0.8em" height="0.8em" viewBox="0 1 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg>
          Edit</a>
        <a href="{% url "groups:group_delete" object.slug %}">
          <svg width="1.2em" height="1.2em" viewBox="0 1 8 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
          Delete</a>
      {% endif %}

    {% endif %}
</div>
{% endblock base_right %}
