{% extends "common_base.html" %}

{% block base_top %}
  <h1>Group list page</h1>
  <p>Click on one of the groups from the list on the right to see its thread.</p>
  {% if user.is_authenticated %}
    <p>Click button bellow to start a new group:</p>
    <a class="btn btn-primary" href="{% url "groups:group_create" %}" role="button">New Group</a>
  {% endif %}
{% endblock base_top %}

{% block base_bottom %}{% endblock base_bottom %}

{% block base_right %}
  <h1>All Groups</h1>
  {% for group in group_list %}

  {% include "_group.html" with group=group %}

  {% endfor %}
{% endblock base_right %}
