h1{
  color: red;
  font-family: 'Bangers', cursive;
}

p{
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
}

.areas{
  border-radius: 20px;
  border: 10px solid white;
  margin-top: 10px;
}

.group-item{
  background-color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}

#top-area{
  background-color: #AED9E0;
}

#bottom-area{
  background-color: #AED9E0;
}

#right-area{
  background-color: #AED9E0;
}
