body{
  background-color: #8D99AE;
  font-family: 'Cairo', sans-serif;
}

h1, h2{
  color: #d90429;
  font-family: 'Bangers', cursive;
}

h5, p{
  font-family: none;
}

.font-weight-lighter{
  font-size: 0.9em;
}

.nav-custom,
.nav-custom .navbar-brand{
  background-color: #EDF2F4;
  font-size: 1.2em;
  font-weight: bold;
  color: #2B2D42;
  font-family: 'Cairo', sans-serif;
}

.nav-custom .navbar-nav > .nav-item > a {
  color: #2B2D42;
}

.nav-custom .navbar-nav > .active > a {
  color: #2B2D42;
	background-color:transparent;
}

/* AREAS */
.areas{
  border-radius: 16px;
  background-color: #EDF2F4;
  padding: 10px;
  margin-top: 20px;
}

.areas:empty{
  display: none;
}

.btn-font{
  font-family: 'Bangers', cursive;
}

/* GROUPS */
.group-item{
  background-color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #8d99ae;
}

.group-card-title{
  font-weight: bold;
  color: #ef233c;
  font-family: 'Cairo', sans-serif;
}

/* POSTS */
.post-item{
  padding-bottom: 5px;
}

.post-form{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.post-textarea{
  border:none;
}

.post-text{
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 1px;
    border-bottom: solid 1px #ced4da;
}

.post-form-toolbar{
  border-top: 1px solid #ced4da;
}

.voting-section{
  text-align: center;
  padding-bottom: 5px;
}



/* color pallet used: https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
