body{
  background-color: #8D99AE;
  font-family: 'Cairo', sans-serif;
}

.nav-custom,
.nav-custom .navbar-brand{
  background-color: #EDF2F4;
  font-size: 1.2em;
  font-weight: bold;
  color: #2B2D42;
  font-family: 'Cairo', sans-serif;
  /* font-weight: 600; */
}

.nav-custom .navbar-nav > .nav-item > a {
  color: #2B2D42;
}

.nav-custom .navbar-nav > .active > a {
  color: #2B2D42;
	background-color:transparent;
}


h1, h2{
  color: #d90429;
  font-family: 'Bangers', cursive;
}

h5, p{
  font-family: none;
}

.btn-font{
  font-family: 'Bangers', cursive;
}

.font-weight-lighter{
  font-size: 0.9em;
}

.areas{
  border-radius: 16px;
  /* border: 0px solid white; */
  background-color: #EDF2F4;
  padding: 10px;
  margin-top: 20px;
}

.areas:empty{
  display: none;
  background-color: red;
}

.group-item{
  background-color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #8d99ae;
}

.post-item{
  padding-bottom: 5px;
}

.post-form{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.post-textarea{
  border:none;
  /* outline: 0px solid transparent; */
  /* border-top: none;
  border-right: none;
  border-left: none; */
  /* border-bottom: 1px solid #ced4da; */
}

.post-form-toolbar{
  border-top: 1px solid #ced4da;
}
/* #top-area{
  background-color: #EDF2F4;
}

#bottom-area{
  background-color: #EDF2F4;
}

#right-area{
  background-color: #EDF2F4;
} */
