{% extends "common_base.html" %}

{% block base_top %}
  {% if view.kwargs.username %}
    <h1>This is {{view.kwargs.username}}'s profile page</h1>
  {% else %}
    <h1>This is your profile page</h1>
  {% endif %}
{% endblock base_top %}

{% block base_bottom %}
  <h1>My posts</h1>
  {% for post in post_list %}
    {% include "posts/_post.html" with post=post my_profile="True" %}
  {% endfor %}
{% endblock base_bottom %}

{% block base_right %}
  <h1>My groups</h1>
  {% for group in group_list %}
    {% include "_group.html" with group=group %}
  {% endfor %}
{% endblock base_right%}
