{% load post_extras %}
<div class="post-item">
  <div class="card shadow-sm container">
    <div class="row">

      <!-- VOTING SECTION -->
      <div class="voting-section col-sm-1 d-flex justify-content-center align-items-center">
        <div class="voting">

          {% if user in post.voters.all %}
            <form class="" action="{% url "posts:post_remove_vote" post.id %}" method="post">
          {% else %}
            <form class="" action="{% url "posts:post_vote" post.id %}" method="post">
          {% endif %}

            <button type="submit" class="btn btn-light btn-sm {% if post|vote_value:user == 1 %} active {% endif %}" name="vote" value=1 {% if post|vote_value:user == -1 %} disabled {% endif %}>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="green" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
              </svg>
            </button>

            <div class="">
              {{post.up_votes|subtract:post.down_votes}}
            </div>

            <button type="submit" class="btn btn-light btn-sm {% if post|vote_value:user == -1 %} active {% endif %}" name="vote" value=-1 {% if post|vote_value:user == 1 %} disabled {% endif %}>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
            </button>

            {% csrf_token %}
          </form>
        </div>
      </div>

      <!-- CARD BODY -->
      <div class="card-body col-sm-11">
        <h5 class="card-title">{{post}}</h5>
        <div class="d-inline toolbar-left">
          <span class="font-weight-lighter">{{post.created_at}}</span>
          <span class="font-weight-lighter">posted by</span>
          <span><a href="{% url "accounts:profile" post.author %}" class="card-link">
              {% if post.author.username == user.username %}
                You
              {% else %}
                @{{post.author}}
              {% endif %}
          </a></span>
          <span class="font-weight-lighter">(
              <svg width="0.8em" height="0.9em" viewBox="0 1 16 16" class="bi bi-trophy" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
              </svg>
            {{post.author.userprofileinfo.karma}})
          </span>

        </div>


        <div class="toolbar-right float-right">
          {% if post.author.username == user.username %}

            <!-- Edit button -->
            <span><a href="{% url "posts:post_edit" post.id %}" class="card-link">
              <svg width="0.8em" height="0.8em" viewBox="0 1 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg>
              Edit</a></span>

            <!-- Delete button -->
            <span>
              {% if my_profile %}
                <a href="{% url "posts:post_delete" post.id %}?next={% url "accounts:profile" %}" class="card-link">
              {% else %}
                <a href="{% url "posts:post_delete" post.id %}" class="card-link">
              {% endif %}
              <svg width="1.2em" height="1.2em" viewBox="0 1 8 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
              Delete
              </a>
            </span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
